<div class="reset-password-modal">
  <div class="reset-password-container">
    <h2>Restablecer Contraseña</h2>
    <form (ngSubmit)="resetPassword()" #resetForm="ngForm">

      <div class="form-group">
        <label for="newPassword">Nueva Contraseña</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required (input)="validatePassword()"/>
      </div>

      <ul class="password-criteria">
        <li [class.valid]="passwordCriteria.minLength">
          <span *ngIf="passwordCriteria.minLength">&#10003;</span>
          <span *ngIf="!passwordCriteria.minLength">&#10007;</span>
          Mínimo 6 caracteres
        </li>
        <li [class.valid]="passwordCriteria.upperCase">
          <span *ngIf="passwordCriteria.upperCase">&#10003;</span>
          <span *ngIf="!passwordCriteria.upperCase">&#10007;</span>
          Al menos una mayúscula
        </li>
        <li [class.valid]="passwordCriteria.lowerCase">
          <span *ngIf="passwordCriteria.lowerCase">&#10003;</span>
          <span *ngIf="!passwordCriteria.lowerCase">&#10007;</span>
          Al menos una minúscula
        </li>
        <li [class.valid]="passwordCriteria.specialChar">
          <span *ngIf="passwordCriteria.specialChar">&#10003;</span>
          <span *ngIf="!passwordCriteria.specialChar">&#10007;</span>
          Al menos un carácter especial (arroba $ ! % * ? &)
        </li>
      </ul>

      <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      </div>

      <div class="button-group">
        <button type="submit" class="btn-submit" [disabled]="!isPasswordValid()">Actualizar Contraseña</button>
      </div>

      <p *ngIf="message" class="message">{{ message }}</p>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
</div>
