.usuarios-container {
    margin: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  .tabla-contenedor {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Añade sombra */
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

  td {
    vertical-align: middle; /* Alinear verticalmente el contenido */
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .titulo h1 {
    font-size: 24px;
    color: #333;
  }

  .titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  td input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .paginacion {
    margin-top: 20px;
    text-align: center;
  }

  .input-buscar {
    margin-right: 20px;
    padding: 5px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .btn-editar {
    background: none;
    border: none;
    color: blue; /* Verde */
    cursor: pointer;
    margin-right: 10px; /* Espacio entre los botones */
  }

  .btn-editar:hover {
    color: rgb(0, 0, 153);
  }

  .btn-editar i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
  }

  .btn-eliminar {
    background: none;
    border: none;
    color: #ff0000; /* Rojo */
    cursor: pointer;
  }

  .btn-eliminar:hover {
    color: #720200;
  }

  .btn-eliminar i {
    font-size: 20px; /* Ajusta el tamaño del ícono */
  }

  button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .guardar{
    color: white;
    background-color: green;
  }

  .eliminar{
    margin-left: 10px;
    color: white;
    background-color: rgb(219, 0, 0);
  }

  .guardar:hover {
    background-color: rgb(0, 79, 0);
  }

  .eliminar:hover {
    background-color: darkred;
  }

  button.confirm {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }

  button.cancel {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }

  button.confirm:hover {
    background-color: darkgreen;
  }

  button.cancel:hover {
    background-color: darkred;
  }

  .btn-agregar {
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .btn-agregar:hover {
    background-color: #45a049;
  }

  .paginacion button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
  }

  .paginacion button.active {
    background-color: #4caf50;
    color: white;
  }

  .paginacion button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }


  .modal-content-m {
    background: white;
    padding: 30px; /* Más espacio interno */
    border-radius: 12px;
    text-align: left; /* Alinear los campos a la izquierda */
    width: 400px; /* Ancho del modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-content-m h2 {
    text-align: center; /* Centrar el título */
    margin-bottom: 20px; /* Espacio debajo del título */
    font-size: 20px;
  }

  .modal-content-m form {
    display: flex;
    flex-direction: column; /* Alinear verticalmente los campos */
    gap: 15px; /* Espacio entre los campos */
  }

  .modal-content-m label {
    font-weight: bold;
    margin-bottom: 5px; /* Espacio entre el label y el campo */
  }

  .modal-content-m input,
  .modal-content-m select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .modal-actions-m {
    display: flex;
    justify-content: space-between; /* Botones alineados en extremos */
    margin-top: 20px;
  }

  .password-container {
    position: relative;
  }

  .input-group {
    display: flex;
    align-items: center;
  }

  .input-group input {
    flex: 1;
    padding-right: 40px; /* Espacio para el botón */
  }

  .toggle-visibility {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #666;
  }

  .toggle-visibility-m {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    margin-left: 10px;
  }

  .toggle-visibility-m:hover {
    color: #333;
  }

  .password-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .password-cell span {
    flex-grow: 1; /* El texto ocupa todo el espacio disponible */
    text-align: left; /* El texto queda alineado a la izquierda */
  }

.mensaje-dinamico {
  position: fixed;
  top: 100px; /* Cambia esto para posicionar más abajo el mensaje */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50; /* Verde para éxito */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  animation: fadeInOut 2s;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}

input[readonly] {
  background-color: #f3f3f3;
  border: none;
  cursor: not-allowed;
}
