.reset-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
  }

  .reset-password-container h2 {
    margin-bottom: 1.5rem;
    font-size: 24px;
    color: #333;
  }

  .reset-form .form-group {
    margin-bottom: 1.5rem;
  }

  .reset-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .reset-form input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .reset-form .button-group {
    display: flex;
    justify-content: center; /* Alinea el contenido al centro */
    margin-top: 1.5rem;
  }

  .reset-form .btn-submit {
    background-color: #28a745;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto; /* Asegúrate de centrar si el botón tiene algún espacio no previsto */
  }

  .reset-form .btn-submit:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .reset-form .btn-submit:hover:enabled {
    background-color: #218838;
  }


  .message {
    margin-top: 1rem;
    color: #28a745;
    font-weight: bold;
  }




  .reset-password-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .reset-password-container {
    position: relative;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
